/log/application.html
/log/testlog.log
/log/testlog1.log
/target/classes/cucumber/ScenarioContext.class
/target/

/debug.log
/log/application.html
/log/testlog.log
/log/testlog1.log
/src/test/java/step_definitions/QSpaceSteps.java
/target/classes/dataProviders/ConfigFileReader.class
/target/classes/dataProviders/DateAndTimeUtils.class
/target/classes/enums/Context.class
/target/classes/enums/DriverType.class
/target/classes/enums/EnvironmentType.class
/target/classes/extensions/Browser.class
/target/classes/extensions/Wait.class
/target/classes/managers/PageObjectManager.class
/target/classes/managers/WebDriverManager$1.class
/target/classes/managers/WebDriverManager.class
/target/classes/META-INF/maven/RFA.BDD/RFA.BDD/pom.properties
/target/classes/META-INF/maven/RFA.BDD/RFA.BDD/pom.xml
/target/classes/META-INF/QSpaceAutomation.kotlin_module
/target/classes/page/executors/AssetsPage.class
/target/classes/page/executors/DashboardPage.class
/target/classes/page/executors/LoginPage.class
/target/classes/page/executors/RequirementsPage.class
/target/classes/page/locators/AssetsPageLocators.class
/target/classes/page/locators/DashboardPageLocators.class
/target/classes/page/locators/LoginPageLocators.class
/target/classes/page/locators/RequirementsPageLocators.class
